<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="cloudrobot_simulation" filename="libcloudrobot_simulation.so">
            <robotNamespace>/ginger</robotNamespace>
            <controlPeriod>0.005</controlPeriod>>
        </plugin>
        <!-- <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin> -->
    </gazebo>
</robot>